@import "./node_modules/bulma/sass/utilities/initial-variables";
@import "./node_modules/bulma/sass/utilities/functions";


//Internet Junkie Theme Colors
$my-blue: #1c2340;
$my-red: #de3f54;
$secondary-400: #566589;
//$my-red-invert: findColorInvert($my-red);

// Internet Junkie Font
$internet-junkie-serif: "Merriweather", "Georgia", serif;

// Overriding Bulma styles
$primary: $my-red;

$info: $my-blue;
$danger: $orange;
$family-primary: $internet-junkie-serif;

// More custom styles
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);
$input-focus-color: $primary;
$input-focus-border-color: $primary;
$input-icon-active-color:$primary;
input[type=text]:focus{
  border: 1px solid $primary !important;
}
// Adding new color variables to the color map.
@import "./node_modules/bulma/sass/utilities/derived-variables";
$addColors: (
  "twitter":($twitter, $twitter-invert),
  "linkedin": ($linkedin, $linkedin-invert),
  "github": ($github, $github-invert)
);
$colors: map-merge($colors, $addColors);

// Importing the rest of Bulma
@import "./node_modules/bulma/bulma";
