@import './mystyles';

//CSS GRID
.hidden{
  display: none;
}
.home {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  /* grid-column-gap: 20px; */
  grid-row-gap:20px;
  /* grid-gap:20px; */
  height: 100vh;
  font-family: Lato,sans-serif;
  color: #fff;
  div{
    padding: 10px;
  }
}

button{
  border: none ;
}

.home-rigth{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100%;
  background-color: $info;
  align-items: center;
  justify-items: center;
  .home-cta{
    text-align: center;
    /* background: green; */
    width:90%;
  }
}

.primary-action{
  border-radius: 50px;
  background-color: $primary;
  color: white;
  padding: 16px 5% 16px 5%;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}
h2{
  margin-bottom: 10%;
}
.home-left{
  display: none;
}






@media(min-width: 930px){
  .hidden-block{
    display: block;
    height:20px;
  }
  .home{
    grid-template-columns: 7fr 5fr;
  }
  .mob-monster-img{
    display: none;
  }
  .home-left{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100%;
    background-color: $primary;
    align-items: center;
    justify-items: center;
  }
  .home-image{
    width:80%;
  }
  .home-image img{
    width:100%;
  }
  .home-rigth .home-cta{
    text-align: center;
    /* background: green; */
    width:70%;
  }
}
