<section class="section features">
  <div class="container has-background-white has-text-black ">
    <h1 class="title">
      Features
    </h1>
    <div class="columns">
      <div class="column is-one-third">
        <article class="media notification is-primary">
					<figure class="media-left">
						<span class="icon is-size-3">
							<i class="fas fa-fire"></i>
						</span>
					</figure>
					<div class="media-content">
						<div class="content">
							<h1 class="title is-size-4">Top 10</h1>
							<p class="is-size-5">
								See Top 10 websites you visited during the day.
							</p>
						</div>
					</div>
				</article>
      </div>
      <div class="column is-one-third">
        <article class="media notification is-primary">
					<figure class="media-left">
						<span class="icon is-size-3">
							<i class="fas fa-chart-line"></i>
						</span>
					</figure>
					<div class="media-content">
						<div class="content">
							<h1 class="title is-size-4">Statistics</h1>
							<p class="is-size-5">
								Get 7 Days statistics on your most visited websites.
							</p>
						</div>
					</div>
				</article>
      </div>
      <div class="column is-one-third">
        <article class="media notification is-primary">
					<figure class="media-left">
						<span class="icon is-size-3">
							<i class="fas fa-clock"></i>
						</span>
					</figure>
					<div class="media-content">
						<div class="content">
							<h1 class="title is-size-4">Time Traking</h1>
							<p class="is-size-5">
								Shows total time you spent online daily.
							</p>
						</div>
					</div>
				</article>
      </div>
    </div>
  </div>
</section>