<!-- <section class="section subscribe">
  <div class="container  has-text-black ">
    <div class="columns">
        <div class="column is-half">
          <h1 class="title has-text-white">
            Stay in the known
          </h1>
          <h2 class="subtitle has-text-white">
            Receive must-read articles and feature updates
          </h2>
        </div>
        <div class="column is-half">
          <form class="" action="#" method="post">
            <div class="field has-addons">
              <div class="control has-icons-left has-icons-right">
                  <input class="input is-large is-rounded" type="email" placeholder="Email" required>
                  <span class="icon is-medium is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span class="icon is-medium is-right">
                    <i class="fas fa-check"></i>
                  </span>
              </div>
              <div class="control">
                  <button type="submit" class="button  is-large is-primary is-rounded">
                    Subscribe
                  </button>
                </div>
            </div>
          </form>
        </div>
    </div>
  </div>
</section> -->
