/* You can add global styles to this file, and also import other style files */
.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 100vh;
  font-family: Lato,sans-serif;
}
.mob-monster-img{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.left-panel {
  display: none;
}
.right-panel {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas:
  ". . ."
  ". e ."
  ". . .";
  text-align: center;
  grid-column: span 12;
  background-color: #de3f53;
  color: white;
}
.right-panel h2{
  margin: auto  auto 10% auto;
}
.primary-action{
  border-radius: 50px;
  background-color: #1c2340;
  color: white;
  padding: 16px 40px 16px 40px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  margin: auto;
  white-space: nowrap;
}
.logo{
  width: 100%;
  margin: 0 auto 0 auto;
}

.btn-wrap{
  display: flex;
}
.main{
  grid-area : e;
}
/* For large screens */
@media (min-width: 650px) {
  .mob-monster-img{
    display: none;
  }
  .exmaple{
    width: 90%;
    margin: 2% auto;
  }
  .left-panel {
    display: block;
    text-align: center;
    grid-column: span 7;
    background-color: #1c2340;
  }
  .right-panel h2{
    margin-bottom: 5%;
  }
  .right-panel {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
    ". . . . . ."
    ". e e e e ."
    ". . . . . .";
    text-align: center;
    grid-column: span 5;
    background-color: #de3f53;
    color: white;
  }
  .main{
    grid-area : e;
  }
  .primary-action{
    border-radius: 50px;
    background-color: #1c2340;
    color: white;
    padding: 16px 40px 16px 40px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    white-space: nowrap;
  }
  .btn-wrap{
    display: flex;
  }
}
