<div class="wrapper">
  <div class="left-panel">
    <img class="exmaple" [@fadeInAnimation] src="/assets/images/example.png" />
  </div>
  <div class="right-panel" >
    <div class="main" [@fadeInAnimation2]>
      <a class="logo"  title="Internet Junkie - time traker, productivity tool, website statisics" href="https://www.myinternetjunkie.com/"><img class="logo" src="/assets/svg/logo.svg" /></a>
      <!-- <h1>Internet Junkie</h1> -->
      <h2>Know the time you spend on the websites daily.</h2>
      <a class="primary-action" href="https://chrome.google.com/webstore/detail/internet-junkie/dnofoicangnkgdijdikmnkfjokjlfigj">Add to Chrome — It's Free</a>
      <!-- <div class="rating-wrapper" >
        <div class="chrome-rating" ></div>
        <div class="chrome-rating-description" >4.5-star rating in the Chrome Store</div>
      </div> -->
    </div>
  </div>
</div>
