/* You can add global styles to this file, and also import other style files */
.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 100vh;
  font-family: Lato,sans-serif;
}
.left-panel {
  text-align: center;
  grid-column: span 7;
  background-color: #1c2340;
}
.right-panel {
  text-align: center;
  grid-column: span 5;
  background-color: #de3f53;
  color: white;
}
.right-panel h2{
  margin-bottom: 5%;
}
.primary-action{
  border-radius: 50px;
  background-color: #1c2340;
  color: white;
  padding: 16px 40px 16px 40px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}
.logo{
  margin: 23% auto 0 auto;
}
.exmaple{
  width: 900px;
  margin: 2% auto;
}
