<section class="home">
  <div class="home-left">
    <div class="home-image" [@fadeInAnimation]>
        <!-- <img src="/assets/images/example.png" alt="screenshot of the app"> -->
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="/assets/images/ScreenShot1.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/assets/images/ScreenShot2.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/assets/images/ScreenShot3.jpg" alt="Third slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/assets/images/ScreenShot4.jpg" alt="Third slide">
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="home-rigth">
    <div class="home-cta" [@fadeInAnimation2]>
      <h1 class="hidden">Internt Junkie Chrome Extension</h1>
      <figure class="image is-flex-mobile is-flex-tablet ">
        <img alt="internt junkie chrome extension logo"  title="internet junkie, time traker, productivity tool, your website statisics" src="/assets/svg/logo.svg" >
      </figure>
      <p class="subtitle is-4 is-flex-mobile has-text-white has-text-centered">Track the time you spend on the browser daily.</p>
      <a href="https://chrome.google.com/webstore/detail/internet-junkie/dnofoicangnkgdijdikmnkfjokjlfigj" traget="_blank" class="button is-primary is-medium">
        + ADD TO CHROME
      </a>
      <!-- <button onclick="chrome.webstore.install()" id="install-button">Add to Chrome</button>
      <script>
      if (chrome.app.isInstalled) {
        document.getElementById('install-button').style.display = 'none';
      }
      </script> -->
    </div>
  </div>
</section>
